# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Other stuff
*.sln
*.vcxproj
*.vcxproj.filters
.vs/
obj/
release_win64/
debug_win64/
game/win64/release/*.dll
game/win64/debug/*.dll
game/win64/release/*.exe
game/win64/debug/*.exe
source/\.vscode/
