# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Files built by Visual Studio
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

#CodeLite Files
*.mk
*.project
*.workspace
.codelite/

# Other stuff
*.sln
*.vcxproj
*.vcxproj.filters
.vs/
obj/
release_win64/
debug_win64/
game/win64/release/*.dll
game/win64/debug/*.dll
game/win64/release/*.exe
game/win64/debug/*.exe
source/\.vscode/
release_linux64/
debug_linux64/
.build-release/
.build-debug/
Makefile


game/linux64/debug/bin/client\.so

game/linux64/debug/bin/engine\.so

game/linux64/debug/bin/input\.so

game/linux64/debug/bin/materialsystem\.so

game/linux64/debug/bin/renderer_empty\.so

game/linux64/debug/bin/renderer_opengl\.so

game/linux64/debug/bin/renderer_vulkan\.so

game/linux64/debug/bin/server\.so

game/linux64/debug/bin/shadergl\.so

game/linux64/debug/bin/standard_shaders\.so

game/linux64/debug/factory\.so

game/linux64/debug/launcher

game/linux64/debug/memory_system\.so

game/linux64/debug/sdl_core\.so

game/linux64/release/bin/client\.so

game/linux64/release/bin/engine\.so

game/linux64/release/bin/input\.so

game/linux64/release/bin/materialsystem\.so

game/linux64/release/bin/renderer_empty\.so

game/linux64/release/bin/renderer_opengl\.so

game/linux64/release/bin/renderer_vulkan\.so

game/linux64/release/bin/server\.so

game/linux64/release/bin/shadergl\.so

game/linux64/release/bin/standard_shaders\.so

game/linux64/release/factory\.so

game/linux64/release/launcher

game/linux64/release/sdl_core\.so

game/linux64/release/memory_system\.so
