
source/\.vs/AMEngine/v15/

source/amlib/x64/

game/win64/debug/factory\.dll

game/win64/debug/launcher\.exe

game/win64/release/factory\.dll

game/win64/release/launcher\.exe

source/engine/x64/

source/factory/x64/

source/game/client/x64/

source/game/server/x64/

source/input/x64/

source/launcher/x64/

source/materialsystem/x64/

source/renderer_opengl/x64/

source/shadersystem/amshaderlib/x64/

source/shadersystem/shadergl/x64/

source/shadersystem/standard_shaders/x64/

*.user
